.container {
  background-color: #233000;
  padding: 15vh 0 10vh;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
}

.dishSection {
  width: 50%;
}

.spicesSection {
  width: 32%;
}

.title {
  width: 60%;
}

.dishSection .paragraph {
  width: 60%;
  padding-top: 3vh;
}

.spicesSection .paragraph {
  padding-bottom: 5vh;
}

@media (max-width: 1400px) {
  .title {
    width: 70%;
  }
  .container {
    padding: 10vh 0 8vh;
  }
  .paragraph {
    width: 75%;
  }
}

@media (max-width: 1200px) {
  .title {
    width: 70%;
  }

  .dishSection .paragraph {
    width: 60%;
    padding-top: 2vh;
  }
}

@media (max-width: 1200px) {
  .spicesSection {
    width: 37%;
  }

  .dishSection {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .title {
    width: 100%;
  }

  .dishSection .paragraph {
    width: 60%;
    padding-top: 3vh;
  }
}
