.companyName {
  font-family: "Rufina";
  font-style: normal;
  font-weight: 700;
  font-size: 4.25rem;
  line-height: 5.25rem;
  width: 20%;
}

.companyInfo {
  width: 30%;
  padding-top: 0;
  margin-top: 0;
}

.container {
  padding: 4rem 0;
}

.form {
  width: 50%;
}

.listItem {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.56rem;
}

.companyInfo {
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
}

.innerContainer {
  display: flex;
}

.formTitle {
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
  font-family: "Rufina", serif;
}

.formDescription {
  font-size: 0.875rem;
}

.input {
  margin: 1rem 0;
  border: 2px solid #ffffff;
  width: 55%;
  height: 4.5rem;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 1.5rem;
  color: inherit;
}

.input::placeholder {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.5rem;
}

.formInnerContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.button {
  padding: 0.5rem;
  font-family: "Rufina";
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
  border: none;
  background-color: #5e6600;
  color: #fff;
  width: 40%;
  height: 4.5rem;
}

@media screen and (max-width: 1400px) {
  .companyName {
    font-size: 3.25rem;
    line-height: 4.25rem;
  }
}

@media screen and (max-width: 1200px) {
  .companyName {
    font-size: 2.25rem;
    line-height: 3.25rem;
  }

  .formTitle {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .companyInfo {
    font-size: 1.75rem;
    line-height: 2rem;
  }

  .listItem {
    font-size: 1rem;
  }

  .formInnerContainer {
    margin-top: 1rem;
  }

  .input {
    margin: 0.75rem 0;
    width: 55%;
    height: 4rem;
    font-size: 1.25rem;
  }

  .input::placeholder {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.25rem;
  }
}

@media (max-width: 992px) {
  .innerContainer {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .companyName {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    order: 2;
  }
  .form {
    width: 55%;
  }
}

@media (max-width: 768px) {
  .companyName {
    font-size: 2rem;
    line-height: 3rem;
  }

  .innerContainer {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .companyName {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    order: 1;
  }

  .companyInfo {
    width: 70%;
  }
  .form {
    width: 100%;
    order: 2;
    margin-top: 2rem;
  }

  .input {
    margin: 0.75rem 0;
    width: 55%;
    height: 4rem;
    font-size: 1.15rem;
  }

  .input::placeholder {
    font-size: 1.15rem;
  }
}

@media (max-width: 576px) {
  .form {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .input {
    margin: 0.5rem 0;
    height: 3.5rem;
    font-size: 1.15rem;
  }

  .input::placeholder {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .formInnerContainer {
    flex-direction: column;
    display: flex;
    margin-bottom: 0.5rem;
  }

  .input {
    width: 100%;
    margin: 0.5rem 0;
    height: 3.5rem;
    font-size: 1.15rem;
  }

  .input::placeholder {
    font-size: 1rem;
  }
}
