.container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-size: cover;
  color: rgba(26, 49, 24, 0.5);
  padding: 0;
  margin: 0;
}

.innerContainer {
  width: 100vw;
  height: 100%;
  background-color: #46502ad7;
  display: grid;
  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: 1fr;
}

.buttonContainer {
  /* width: 20%; */
  padding: 2rem;
  justify-self: flex-start;
}

.button:hover {
  cursor: pointer;
  filter: brightness(0.5);
}

.button:hover .closeBtnIcon {
  opacity: 0.2;
}
.navigationContainer {
  padding-top: 20vh;
  justify-self: flex-start;
}

.navigationList {
  color: #fff;
  text-decoration: none;
  font-family: 'Rufina';
  font-style: normal;
  font-weight: 700;
  font-size: 4.125rem;
  line-height: 5.125rem;
}

.listItem {
  position: relative;
  padding-left: 2rem;
}

.listItem:hover {
  cursor: pointer;
  color: #9caa00;
}

.listItem::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  left: -1.5rem;
}

.listItem:hover::before {
  background-color: #9caa00;
}

.contactsContainer {
  justify-self: flex-end;
  width: 20rem;
  padding-top: 45vh;
}

.contactTitle {
  font-weight: 700;
  border-bottom: 5px dotted #fff;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
}

@media only screen and (max-width: 1400px) {
  .navigationList {
    font-size: 3.75rem;
    line-height: 4.75rem;
  }
  .contacts {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1200px) {
  .navigationList {
    font-size: 3rem;
    line-height: 4rem;
  }

  .contacts {
    font-size: 0.9rem;
  }

  .buttonContainer {
    width: 15%;
  }
  .contactsContainer {
    width: 25rem;
  }

  .innerContainer {
    grid-template-columns: 25% 1fr 1fr;
  }

  .listItem::before {
    height: 12px;
    width: 12px;
    left: -0.6rem;
  }
}

@media only screen and (max-width: 992px) {
  .navigationList {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  .contacts {
    font-size: 0.9rem;
  }

  .buttonContainer {
    width: 25%;
  }
  .contactsContainer {
    padding-top: 70vh;
    width: 20rem;
  }
}

@media only screen and (max-width: 768px) {
  .navigationList {
    font-size: 2.25rem;
    line-height: 3.5rem;
  }

  .contacts {
    font-size: 0.9rem;
  }

  .buttonContainer {
    width: 25%;
  }

  .innerContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 20vh 50vh 30vh;
  }
  .contactsContainer {
    padding-top: 0;
    width: 20rem;
  }
  .navigationContainer {
    padding-top: 0;
    justify-self: center;
  }
}

@media only screen and (max-width: 330px) {
  .navigationList {
    font-size: 2rem;
    line-height: 3rem;
  }

  .contactsContainer {
    width: 90%;
    padding-left: 1rem;
  }
}
