.iconSocial {
  fill: #fff;
  width: 1.75rem;
}

.iconSocial:hover {
  fill: #9caa00;
}
.arrowIcon {
  width: 48px;
  height: 28px;
  fill: #233000;
}

.arrowIcon:hover {
  fill: #39490b;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .arrowIcon {
    fill: #233000;
  }

  .arrowIcon rect {
    fill: #233000;
  }
}
