.container {
  margin: 7rem 0;
}

.imagesContainer {
  display: flex;
  justify-content: space-between;
}

.title {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.pararaph {
  color: #4d4d4d;
  margin: 3rem 0 4rem;
  text-align: center;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .container {
    margin: 5rem 0;
  }

  .title {
    width: 60%;
  }
}

@media (max-width: 992px) {
  .title {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .imagesContainer {
    flex-direction: column;
  }

  .pararaph {
    margin: 2rem auto 3rem;
    width: 80%;
    font-weight: 400;
  }
}
