.container {
  position: relative;
  width: 30%;
}

.itemName {
  top: 1rem;
  left: 1rem;
  font-size: 3rem;
}

.arrow {
  width: 3rem;
  height: 1.75rem;
}

.image {
  width: 100%;
}

.container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    177.59deg,
    rgba(35, 48, 0, 0.2) 2.02%,
    rgba(35, 48, 0, 0) 97.98%
  );
  z-index: 5;
}

.itemName:hover {
  cursor: pointer;
}

.button {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  z-index: 10;
}

.button:hover {
  color: #233000;
}

.button:hover .arrow {
  filter: brightness(50%);
}

@media (max-width: 1400px) {
  .itemName {
    top: 1rem;
    left: 1rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 1200px) {
  .itemName {
    font-size: 2.25rem;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  .image {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }

  .itemName {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .image {
    height: 60vh;
  }

  .arrow {
    width: 2.5rem;
    height: 1.5rem;
  }
}

@media (max-width: 450px) {
  .image {
    height: 50vh;
  }
}

@media (max-width: 350px) {
  .image {
    height: 40vh;
  }
  .itemName {
    font-size: 1.5rem;
  }
}
