.container {
  background-color: #ebf0e4;
  padding: 10rem 0;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  /* justify-content: space-between;
  display: flex; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3%;
}

.paragraph {
  color: #4d4d4d;
  padding: 2rem 0 5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .container {
    padding: 8rem 0;
  }

  .paragraph {
    padding: 1rem 0 4rem;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 6rem 0;
  }
  .paragraph {
    padding: 1rem 0 3rem;
  }
}

@media (max-width: 768px) {
  .form {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 1.5rem;
  }

  .title {
    text-align: center;
  }
  .container {
    padding: 4rem 0 3rem;
  }
}
