.md {
  font-size: 2rem;
  line-height: 3rem;
}

.sm {
  font-size: 1.5rem;
  line-height: 140%;
}

.xl {
  font-size: 5.5rem;
  line-height: 120%;
}

.bold {
  font-weight: 700;
}

.family-secondary {
  font-family: "Rufina";
}

.family-primary {
  font-family: "Lato";
}

.color-primary {
  color: #233000;
}

.align-center {
  text-align: center;
}

.white {
  color: #eeee;
}

.color-black {
  color: #000000;
}

@media (max-width: 1400px) {
  .md {
    font-size: 1.75rem;
    line-height: 2.75rem;
  }

  .sm {
    font-size: 1.4rem;
    line-height: 140%;
  }

  .xl {
    font-size: 5.25rem;
  }
}

@media (max-width: 1200px) {
  .md {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .sm {
    font-size: 1.25rem;
    line-height: 140%;
  }

  .xl {
    font-size: 5rem;
  }
}

@media (max-width: 982px) {
  .md {
    font-size: 1.25rem;
    line-height: 2.25rem;
  }
  .sm {
    font-size: 1.15rem;
    line-height: 120%;
  }

  .xl {
    font-size: 4.5rem;
  }
}

@media (max-width: 768px) {
  .md {
    font-size: 1.15rem;
    line-height: 2.15rem;
  }

  .xl {
    font-size: 4rem;
  }
}

@media (max-width: 576px) {
  .sm {
    font-size: 1rem;
    line-height: 110%;
  }

  .xl {
    font-size: 3.5rem;
  }
}
