.white {
  width: 17.8rem;
  height: 5.5rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid #ffffff;
  font-family: 'Rufina', serif;
  font-size: 2rem;
}

.white:hover {
  color: #9caa00;
  border: 2px solid #9caa00;
  cursor: pointer;
}

.transparent {
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  color: #000000;
  border: none;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.transparent .btnText {
  padding-right: 1rem;
}

.transparent .arrowImg {
  height: 1.75rem;
}

.transparent:hover {
  opacity: 0.5;
}

.centered {
  margin: 0 auto;
  justify-self: center;
}

.green {
  /* width: 10rem; */
  background-color: #233000;
  margin: 6rem auto 0;
  border: none;
  padding: 0.5rem 4rem;
  font-family: 'Rufina';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}

@media (max-width: 1400px) {
  .white {
    width: 15.8rem;
    height: 5rem;
    font-size: 1.75rem;
  }
}

@media (max-width: 1200px) {
  .white {
    width: 13.8rem;
    height: 4rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .white {
    width: 11.8rem;
    height: 3.5rem;
    font-size: 1.25rem;
  }
}
