.white {
  width: 17.8rem;
  height: 5.5rem;
  background-color: transparent;
  color: #fff;
  border: 2px solid #ffffff;
  font-family: "Rufina", serif;
  font-size: 2rem;
}

.white:hover {
  color: #9caa00;
  border: 2px solid #9caa00;
  cursor: pointer;
}

.transparent {
  background-color: transparent;
  font-family: "Lato", sans-serif;
  color: #000000;
  border: none;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.transparent .btnText {
  padding-right: 1rem;
}

.transparent .arrowImg {
  height: 1.75rem;
}

.transparent:hover {
  opacity: 0.5;
  cursor: pointer;
}

.centered {
  margin: 0 auto;
  justify-self: center;
}

.green {
  /* width: 10rem; */
  background-color: #233000;
  margin: 6rem auto 0;
  border: none;
  padding: 0.5rem 4rem;
  font-family: "Rufina";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}

.lightgreen {
  padding: 0.5rem;
  font-family: "Rufina";
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
  border: none;
  background-color: #5e6600;
  color: #fff;
  width: 40%;
  height: 4.5rem;
}

.lightgreen:hover {
  cursor: pointer;
  background-color: #4f5314;
}

@media (max-width: 1400px) {
  .white {
    width: 15.8rem;
    height: 5rem;
    font-size: 1.75rem;
  }

  .lightgreen {
    font-size: 1.75rem;
  }
}

@media (max-width: 1200px) {
  .white {
    width: 13.8rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .lightgreen {
    font-size: 1.5rem;
    margin: 0.75rem 0;
    width: 40%;
    height: 4rem;
  }

  .transparent {
    font-size: 1.25rem;
    line-height: 120%;
  }

  .transparent .arrowImg {
    height: 1.25rem;
  }
}

@media (max-width: 768px) {
  .white {
    width: 11.8rem;
    height: 3.5rem;
    font-size: 1.25rem;
  }
}

@media (max-width: 576px) {
  .lightgreen {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    width: 40%;
    height: 3.5rem;
  }
}

@media (max-width: 400px) {
  .lightgreen {
    font-size: 1.1rem;
    margin: 0.5rem 0;
    width: 100%;
    height: 3.5rem;
  }
}
