.container {
  background-color: #233000;
  padding-top: 12rem;
}

.innerContainer {
  background-color: #fff;
  color: #000;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  color: #000;
  font-size: 2rem;
  text-align: center;
}
