.container {
  background-color: #ebf0e4;
  padding: 10rem 0;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputContainer {
  width: 30%;
}

.inputContainer select {
  width: 100%;
}

.form {
  justify-content: space-between;
  display: flex;
}

.datePickerContainer {
  width: 30%;
}

.paragraph {
  color: #4d4d4d;
  padding: 2rem 0 5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.selectBox {
  -moz-appearance: none;
  text-indent: 1px;
  -webkit-appearance: none;
  text-overflow: "";
  position: relative;
  background-position-x: 96%;
  background-position-y: center;
  box-sizing: border-box;
  background-repeat: no-repeat;
  font-size: 1rem;
  line-height: 1.3rem;
  border-radius: 4px;
  border-color: #b5b8af;
  height: 3.55rem;
}

.selectBox:hover {
  border-color: #000;
}

.selectBox::-ms-expand {
  display: none;
}

.selectBox option {
  font-size: 1.2rem;
  font-family: "Lato", sans-serif;
}

@media (max-width: 1200px) {
  .selectBox {
    background-size: 10%;
  }
  .container {
    padding: 8rem 0;
  }

  .paragraph {
    padding: 1rem 0 4rem;
  }
}

@media (max-width: 992px) {
  .selectBox {
    background-size: 10%;
  }
  .container {
    padding: 6rem 0;
  }
  .paragraph {
    padding: 1rem 0 3rem;
  }
}

@media (max-width: 768px) {
  .form {
    flex-direction: column;
    row-gap: 1rem;
  }

  .title {
    text-align: center;
  }
  .container {
    padding: 4rem 0 3rem;
  }
  .datePickerContainer {
    width: 100%;
  }

  .inputContainer {
    width: 100%;
  }

  .selectBox {
    background-size: 1rem;
    background-position-x: calc(100% - 0.75rem);
  }
}
