.container {
  display: flex;
  padding: 10vh 0;
  justify-content: space-between;
  align-items: flex-start;
}

@media (max-width: 992px) {
  .container {
    padding: 8vh 0;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 4rem;
  }
}
