.container {
  height: 45rem;
  color: #2330006c;
  position: relative;
}

@media (max-width: 768px) {
  .container {
    height: 25rem;
    color: #2330006c;
    position: relative;
  }
}

@media (max-width: 700px) {
  .container {
    height: 20rem;
  }
}

@media (max-width: 600px) {
  .container {
    height: 17rem;
    color: #2330006c;
    position: relative;
  }
}
