.container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3vh 0;
  width: 100%;
}

.innerContainer {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.headerPart {
  display: flex;
  align-items: center;
}

.phone {
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 1.62rem;
  line-height: 1.9rem;
  margin: 0 3rem 0 0;
}

.logo {
  width: 18rem;
}
