.container {
  padding: 5vh 0;
  background-position: right top;
  background-repeat: no-repeat;
}

.headingSection {
  padding: 8vh 0 10vh;
}

.headingSection .paragraph {
  width: 30%;
  padding-top: 2vh;
}

.paragraph {
  color: #4d4d4d;
}

.pricesSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1400px) {
  .container {
    padding: 3vw 0;
  }
  .headingSection {
    padding: 6vh 0 8vh;
  }
  .headingSection .paragraph {
    width: 40%;
    padding-top: 1.2rem;
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 2.5vw 0;
  }
  .headingSection {
    padding: 6vh 0 7vh;
  }
  .headingSection .paragraph {
    width: 40%;
  }
}

@media (max-width: 768px) {
  .pricesSection {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .pricesSection {
    flex-direction: column;
  }
  .headingSection {
    padding: 5vh 0 3vh;
  }
}

@media (max-width: 576px) {
  .headingSection .paragraph {
    width: 60%;
    padding-top: 2vh;
  }
}
