.container {
  padding: 5vh 0;
  background-position: right top;
  background-repeat: no-repeat;
}

.headingSection {
  padding: 8vh 0 10vh;
}

.headingSection .paragraph {
  width: 30%;
  padding-top: 2vh;
}

.price {
  color: #000000;
  font-weight: 700;
  font-size: 3rem;
  line-height: 4rem;
  font-family: 'Rufina', serif;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  border-bottom: 4px dashed #000000;
  margin-bottom: 1rem;
}

.mealName {
  color: #000000;
  font-weight: 700;
  font-size: 4rem;
  line-height: 5.3rem;
  font-family: 'Rufina', serif;
  margin: 1.5rem 0;
}

.mealDescription {
  color: #4d4d4d;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
}

.paragraph {
  color: #4d4d4d;
}

.pricesSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pricesItem {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
}
