.container {
  background-repeat: no-repeat;
  padding: 6rem 0;
  margin: 1rem 0;
  background-position: top center;
  background-size: 15rem;
}
.containerInner {
  display: flex;
  justify-content: space-between;
}
.content {
  width: 47%;
  padding: 3rem 0;
}

.imgRight {
  order: 1;
}

.img {
  width: 47%;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}
