.container {
  background-color: #ebf0e4;
  padding: 10rem 0;
  background-repeat: no-repeat;
  background-position-x: 5%;
  background-position-y: 3rem;
  background-size: 20rem;
}

.innerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.paragraph {
  color: #4d4d4d;
  padding: 2rem 0 5rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.form {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 3%;
  grid-row-gap: 1.5rem;
}

.form :nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}
.form :nth-child(2) {
  grid-area: 1 / 2 / 2 / 3;
}
.form :nth-child(3) {
  grid-area: 2 / 1 / 3 / 3;
}
.form :nth-child(4) {
  grid-area: 3 / 1 / 4 / 3;
}
.form :nth-child(5) {
  /* grid-area: 4 / 1 / 5 / 2; */
}
.form :nth-child(6) {
  grid-area: 4 / 2 / 5 / 3;
}
.form :nth-child(7) {
  grid-area: 5 / 1 / 6 / 3;
}

@media (max-width: 1200px) {
  .container {
    padding: 8rem 0;
  }

  .paragraph {
    padding: 1rem 0 4rem;
  }
}

@media (max-width: 992px) {
  .container {
    padding: 6rem 0;
  }
  .paragraph {
    padding: 1rem 0 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    background-size: 10rem;
  }

  .form {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 1.5rem;
  }

  .title {
    text-align: center;
  }
  .container {
    padding: 4rem 0 3rem;
  }

  .form :nth-child(1),
  .form :nth-child(2),
  .form :nth-child(3),
  .form :nth-child(4),
  .form :nth-child(5),
  .form :nth-child(6),
  .form :nth-child(7) {
    grid-area: auto;
  }
}
