@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rufina:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Rufina', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
div,
section {
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}
.App {
  /* position: relative; */
  width: 100%;
  max-width: 100vw;
}

.appclosed {
  height: 100vh;
  overflow-y: hidden;
}
.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: #ffffff;
  font-family: 'Rufina', serif;
  font-weight: 700;
  font-size: 7.25rem;
  padding: 0;
  line-height: 9.5rem;
  margin: 0;
}

h2 {
  font-family: 'Rufina', serif;
  color: #000000;
  font-weight: 700;
  font-size: 6.75rem;
  line-height: 7.5rem;
  margin: 0;
}

h3 {
  font-family: 'Rufina', serif;
  font-weight: 700;
  font-size: 4.25rem;
  line-height: 5.25rem;
  color: #ffffff;
  margin: 0.7rem 0;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

input,
select {
  font-family: 'Lato', sans-serif;
  color: #000000;
  border: 1px solid #000000;
  background-color: transparent;
  padding: 0 14px;
}
p {
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
  padding: 0;
  margin: 0;
  letter-spacing: 0.02em;
}

img {
  max-width: 100%;
  /* width: 100%; */
}

footer {
  background-color: #233000;
  color: #fff;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.fullWidthImage {
  width: 100%;
}

.pb-small {
  padding-bottom: 1.5rem;
}

.pb-medium {
  padding-bottom: 3rem;
}
.pt-medium {
  padding-top: 3rem;
}

.text-medium {
  font-size: 2rem;
  line-height: 3rem;
}

@media only screen and (min-width: 1400px) {
  h1 {
    font-size: 9.25rem;
  }
}

@media only screen and (max-width: 1400px) {
  .text-medium {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }

  .pt-medium {
    padding-top: 2.5rem;
  }
  h1 {
    line-height: 8.5rem;
  }

  h3 {
    font-size: 3.75rem;
    line-height: 4.75rem;
    margin: 0.5rem 0;
  }

  p {
    font-size: 1.25rem;
    line-height: 130%;
  }
}

@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 5.25rem;
    line-height: 6.5rem;
  }

  .text-medium {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  .pt-medium {
    padding-top: 2rem;
  }

  h3 {
    font-size: 2.75rem;
    line-height: 3.75rem;
  }

  p {
    font-size: 1.15rem;
    line-height: 120%;
  }
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 4.25rem;
    line-height: 5.5rem;
  }

  h3 {
    font-size: 2.25rem;
    line-height: 3.25rem;
  }

  p {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: 3.3rem;
    line-height: 4.5rem;
  }
}

@media only screen and (max-width: 450px) {
  h1 {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
}

@media only screen and (max-width: 360px) {
  h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
