.subtitle {
  margin-bottom: 1rem;
}

.title {
  color: #000000;
  text-align: center;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 45%;
}

.content img {
  width: 100%;
}

.description {
  width: 60%;
}

.textRight,
.textLeft {
  width: 45%;
  display: flex;
}

.textRight {
  justify-content: flex-end;
}
.imgRight .content {
  order: 1;
}

.imgRight {
  align-items: flex-end;
  margin-top: -30rem;
}

.imgLeft .description {
  margin-top: 10rem;
}

.imgLeft {
  margin-top: 5rem;
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
  .imgRight {
    margin-top: -20rem;
  }
}

@media (max-width: 992px) {
  .imgRight {
    margin-top: -14rem;
  }

  .description {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .innerContainer {
    flex-direction: column;
  }
  .imgRight {
    align-items: flex-end;
    margin-top: 4rem;
  }

  .content,
  .description {
    width: 100%;
  }
  .imgRight .content {
    order: 0;
  }
  .imgLeft .description {
    margin-top: 2rem;
  }

  .textRight,
  .textLeft {
    width: 70%;
  }
}

@media (max-width: 576px) {
}
